/*=== Base===*/

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0; /*TRBL*/
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  // transition: 0.5s; //for animation dark mode
}

h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  line-height: 1.5;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #1a1a1a;
  padding: 0.75rem 1.5rem;
  border-radius: 3rem;
  font-weight: var(--font-semi-bold);
  transition: 0.3s;
  &:hover {
    background-color: var(--first-color-alt);
  }
  &__header {
    display: none;
  }
  &-link {
    background: none;
    padding: 0;
    color: var(--title-color);
    &:hover {
      background-color: transparent;
    }
  }
  &-flex {
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    padding: 0.75rem 1rem;
  }
  &__icon {
    font-size: 1.5rem;
  }
}
